@media screen and (view-mode: minimized) {
    body {
        background: #ffffff;
        background-image: url("../images/game.png");
        background-size: 120% auto;
    }
    body > * {
        display: none;
    }
}

html {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    canvas {
        filter: brightness(0.8) contrast(1.2);
    }
    body {
        color: #fff;
        background-color: rgb(8%, 8%, 8%);
    }
    :root {
        color-scheme: dark;
        --game-background-color: rgb(8%, 8%, 8%);
        --canvas-background-color: rgba(25, 25, 25, .5);
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #000;
        background-color:rgb(99%,88%,88%);
    }
    :root {
        color-scheme: light;
        --game-background-color: rgb(88%, 88%, 88%);
        --canvas-background-color: rgb(255, 255, 255);
    }
}

body {
    margin: 0;
}

.container {
    display: block;
    border: 1px solid gray;
}

canvas,
.canvas {
    display: block;
    border: 1px solid gray;
    touch-action: none;
}

#background_canvas {
    background-color: var(--canvas-background-color);
}

#highscore {
    display: none;
}

header {
    margin: auto;
}

#footerdiv {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 1024px;
    padding: 0 1em;
}

#gamediv {
    background-color: var(--game-background-color);
    display: block;
}

#gamediv > canvas,
#gamediv .canvas {
    position: absolute;
    z-index: 0;
    left: auto;
    top: 20px;
}

form {
    position: absolute;
    text-align: center;
}

#gamediv > span {
    position: absolute;
    text-align: center;
    width: 600px;
    height: 400px;
    padding-top: 50px;
    z-index: 10;
}

form label {
    font-size: 11px;
}

.flattr {
    position: absolute;
    top: 550px;
}

html.touch,
html.touch body {
    overscroll-behavior: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html.touch form {
    display: none;
}

html.touch #gamediv > canvas {
    top: 0;
    border: none;
}

select.btn {
    text-align: left;
    height: 1.6em;
    width: 120px;
}
