@font-face {
    font-family: 'ComfortaaThin';
    src: url('comfortaa/Comfortaa_Thin-webfont.eot');
    src: url('comfortaa/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('comfortaa/Comfortaa_Thin-webfont.woff') format('woff'),
         url('comfortaa/Comfortaa_Thin-webfont.ttf') format('truetype'),
         url('comfortaa/Comfortaa_Thin-webfont.svg#ComfortaaThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Comfortaa';
    src: url('comfortaa/Comfortaa_Regular-webfont.eot');
    src: url('comfortaa/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('comfortaa/Comfortaa_Regular-webfont.woff') format('woff'),
         url('comfortaa/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('comfortaa/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Comfortaa';
    src: url('comfortaa/Comfortaa_Bold-webfont.eot');
    src: url('comfortaa/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('comfortaa/Comfortaa_Bold-webfont.woff') format('woff'),
         url('comfortaa/Comfortaa_Bold-webfont.ttf') format('truetype'),
         url('comfortaa/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
    font-weight: Bold;
    font-style: normal;
}

body {
    margin:0;
    background-color:rgb(88%,88%,88%);
}
canvas, .canvas {
    display:block;
    border:1px solid gray;
    background-color: rgba(255,255,255,0);
}
#background_canvas {
    background-color: #fff;
}
header{
    margin:auto;
    align:center;
}
h1 {
    font-family: "Comfortaa";
    font-size:32pt;
    color: white;
    text-shadow: hsl(0,0%,022%) 2px 2px 4px;
}
#footerdiv {
    text-align:center;
    display:block;
    margin:auto;
    max-width:1024px;
    padding:0 1em;
}

#gamediv {
    display:block;
}

#gamediv > canvas, #gamediv .canvas{
    position: absolute;
    z-index:0;
    left:auto;
}
#gamediv > span{
    position: absolute;
    text-align:center;
    width:600px;
    height:400px;
    padding-top:50px;
    z-index:1;
}
.flattr{
    position:absolute;
    top: 550px;
}
@media screen and (view-mode: minimized) { 
    body
    {
        background: #ffffff;
        background-image:  url('../images/game.png');
        background-size: 120% auto;
    }
    body > *
    {
        display: none;
    }
}
