[submodule "lib/my-common"]
	path = lib/my-common
	url = https://github.com/jiem/my-common.git
[submodule "lib/underscore"]
	path = lib/underscore
	url = https://github.com/documentcloud/underscore
[submodule "lib/events-js"]
	path = lib/events-js
	url = https://github.com/kbjr/Events.js
