[submodule "lib/signals"]
	path = lib/signals
	url = https://github.com/millermedeiros/js-signals
[submodule "lib/state-machine"]
	path = lib/state-machine
	url = https://github.com/jakesgordon/javascript-state-machine
[submodule "lib/requirejs"]
	path = lib/requirejs
	url = https://github.com/jrburke/requirejs
[submodule "lib/zepto"]
	path = lib/zepto
	url = https://github.com/madrobby/zepto
[submodule "lib/chipmunk"]
	path = lib/chipmunk
	url = https://github.com/josephg/Chipmunk-js/
[submodule "dist"]
	path = dist
	url = git@github.com:naubino/naubino.github.com
[submodule "lib/audio-fx"]
	path = lib/audio-fx
	url = https://github.com/jakesgordon/javascript-audio-fx
