Stay Alive Mode
  (Original Mode)
  Naubs keep comming faster and faster
  -> Try to keep field from filling

Empty the Field Mode
  New Naubs appear as you destroy them
  Perhaps the become more over time
  -> Try to Destroy all



Level Ups:
  More Colors
  Different shapes

Speciel Naubs:
  "Time Bomb" starts selfdestruct when joined
  "Big Time Bomb" selfdestructs too and takes joined naubs with him
  "Color Shifter" changes color every n seconds
  "Grow Naub" grows extensions
  "Decay Naub" unjoin after n seconds
  "Glue Naub" Joins with any color ( up to n times)
  "Mythosis Naub" replecates itself
  "Coin Naubs" extra points if destroyed quickly
